.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #000;
	filter: contrast(25);

		.center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			
			.blob {
        $r: 35px;
        $orbit-max-r: 25;
				position: absolute;
				top: -$r;
        left: -$r;
				width: 2 * $r;
				height: 2 * $r;
				border-radius: 50px;
				background: yellow;
				filter: blur(15px);
        
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) {
            $orbit-r: random($orbit-max-r);
            $orbit-center: $r - $orbit-r + (2 * $orbit-r);
            animation: orbit (1.5s + (random(10) / 2)) linear infinite;
            transform-origin: $orbit-center $orbit-center;
          }
        }
      }
      
      .particle {
        $r: random(40) / 2;
        $orbit-min-r: 50;
        $orbit-range: 40;
				position: absolute;
				width: 2 * $r + px;
				height: 2 * $r + px;
				border-radius: 50px;
				background: cyan;
				filter: blur(5px);
        
        @for $i from 1 to 11 {
          &:nth-child(#{$i}) {
            $r: random(24) / 2;
            $orbit-r: $orbit-min-r + random($orbit-range);
            $orbit-center: $r - $orbit-r + (2 * $orbit-r) + px;
            top: (-2 * $orbit-r) + random(2 * $orbit-r) + px;
            left: (-2 * $orbit-r) + random(2 * $orbit-r) + px;
            width: 2 * $r + px;
            height: 2 * $r + px;
            animation: orbit (2s + (random(10) / 3)) linear infinite;
            transform-origin: $orbit-center $orbit-center;
          }
        }
      }
				
      @keyframes orbit {
        100% {
          transform: rotate(360deg);
        }
      }
		}
}
