.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #ffcc00;
  color: #333;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
		section {
			background: white;
			box-shadow:
				0  8px  5px rgba(0, 0, 0, 0.05),
				0 13px  9px rgba(0, 0, 0, 0.06),
				0 21px 16px rgba(0, 0, 0, 0.08),
				0 50px 40px rgba(0, 0, 0, 0.12);
			
			.header {
				height: 40px;
				background: black;
				color: white;
				display: flex;
				padding: 15px;
				
				p {
					margin: 0;
				}
				
				.title {
					margin-right: auto;
					font-size: 14px;
					
					> p {
						margin-bottom: 6px;
						text-align: left;
						font-weight: bold;
						
						&.date {
							font-size: 11px;
						}
					}
				}
				
				.summary {
					font-size: 11px;
					
					> p {
						margin-bottom: 6px;
						text-align: right;
						
						&.value {
							font-size: 14px;
							font-weight: bold;
						}
					}
				}
			}
			
			.chart {
				$red: #e64c4c;
				$blue: #4c4ce6;
				$margin: 10px;
				$x-unit: 40px;
				$y-unit: 40px;
				$legend-height: 15px;
				$category-height: 15px;
				width: 6 * $x-unit;
				height: $legend-height + (2 * $y-unit) + $category-height + (2 * $margin);
				padding: 10px 20px;
				
				.legend {
					height: $legend-height;
					display: flex;
					gap: 16px;
					place-content: flex-end;
					
					> div {
						display: flex;
						gap: 5px;
						place-items: center;
						
						div {
							width: 12px;
							height: 4px;
							border-radius: 3px;
							
							&.red{
								background: $red;
							}
							
							&.blue{
								background: $blue;
							}
						}
						
						p {
							font-size: 9px;
						}
					}
				}
				
				.graph {
					$max: 2;
					margin: $margin 0;
					width: 6 * $x-unit;
					height: 2 * $y-unit;
					
					@for $i from 0 through $max {
						.yaxis-#{$i} {
							position: relative;
							width: 6 * $x-unit;
							border-top: 1px solid lightgray;
							top: ($max - $i) * $y-unit;
						}
					}
					
					svg {
						z-index: 1;
						position: absolute;
						left: 20px;
						width: 100%;
						height: 100%;
						fill: none;
						stroke-width: 2;
						
						.red {
							stroke: $red;
						}
						
						.blue {
							stroke: $blue;
						}
					}
					
					
					.point {
						position: absolute;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						cursor: pointer;

						@for $i from 1 through 8 {
							&:nth-child(#{$i}) {
								left: 17px + (($i - 1) * $x-unit);
							}
						}

						&.red, 
						&.red > .tooltip, 
						&.red > .tooltip:after {
							background: $red;
						}

						&.blue, 
						&.blue > .tooltip, 
						&.blue > .tooltip:after {
							background: $blue;
						}

						.tooltip {
							opacity: 0;
							z-index: 1;
							position: absolute;
							left: -11px;
							bottom: 12px;
							width: 21px;
							margin: 0;
							padding: 3px;
							border-radius: 3px;
							font-size: 11px;
							font-weight: 600;
							color: white;
							text-align: center;
							transform: translateY(6px);
							transition: all .2s;
							
							&:after {
								$width: 8px;
								display: block;
								position: absolute;
								content: '';
								width: $width;
								height: $width;
								bottom: -3px;
								left: 10px;
								border-radius: 2px;
								transform: rotate(45deg);
							}
						}

						&:hover > .tooltip {
							opacity: 1;
							transform: none;
						}
					}
				}
				
				.categories{
					$width: 24px;
					position: absolute;
					top: 194px;
					margin-left: $width / -2;
					height: $category-height;
					display: flex;
					gap: $x-unit - $width;
					
					p {
						margin: 0;
						min-width: $width;
						line-height: $category-height - 4px;
						font-size: 9px;
						color: rgb(100, 100, 100);
					}
				}
			}
		}
		
	}
	
}
